.message {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
}

.messageTop {
    display: flex;
}


.messageText {
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(245, 241, 241);
    color: black;
    max-width: 400px;
    overflow-wrap: break-word; 
    word-wrap: break-word;
}

.messageBottom {
    font-size: 12px;
    margin-top: 5px;
}

.message.own {
    align-items: flex-end;
}

.message.own .messageText {
    background-color: #1877f2;
    color: white;
}